<p><%= link_to "Home", root_path %></p>

<p>Courses</p>


<%= link_to "Add new course", new_course_path %>

<table>
  <thead>
    <tr>
      <th>Course Title</th>
      <th>Day or Night</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <th><%= link_to course.title, course_path(course) %></th>
      <% if course.day? %>
        <th>Day</th>
        <% else %>
        <th>Night</th>
      <% end %>
      <th><%= link_to "Edit", edit_course_path(course) %></th>
      <th><%= link_to "Delete", course_path(course), method: 'delete' %></th>
    </tr>
    <% end %>
  </tbody>
</table>
